.about-text {
}

.about-text__image:before {
    content: '';
    position: absolute;
    display: block;
    background: no-repeat center center;
    background-image: url(cloud.png);
    width: 104px;
    height: 104px;
    top: -90px;
    left: 130px;
    background-size: contain;
}

.about-text__image {
    background: url(singer.png) no-repeat center top;
    background-size: contain;
    height: 280px;
    top: -60px;
}

.about-text__header {
    margin-bottom: 20px;
}

.about-text__text {
}

.about-text__link-content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -230px;
    margin-top: -310px;
    width: 450px;
    height: 260px;
    background: center no-repeat;
    background-size: 100% auto;
    background-position-x: 20px;
    animation: cubic-bezier(0.39, 0.58, 0.57, 1) people 0.3s;
    z-index: 2;
    padding-bottom: 30px;
}

@keyframes people {
    from {
        top: 70%;
        opacity: 0.6;
    }
}

.block-links__link_photo-1 .about-text__link-content {background-image: url(people-1.jpg);}

.block-links__link__link_photo-2 .about-text__link-content {background-image: url(people-2.jpg);}

.block-links__link:hover .about-text__link-content,
.about-text__link-content:hover {
    display: block;
}

