.block-links {
    display: flex;
    margin-top: 20px;
}

.block-links__link {
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #000;
}

.block-links__link + .block-links__link {
    margin-left: 20px;
}

.block-links__link_photo-1 {
    background: url(photo-1.png) center no-repeat;
    background-size: 100%;
}

.block-links__link__link_photo-2 {
    background: url(photo-2.png) center no-repeat;
    background-size: 100%;
}

.block-links__link_external {
    display: block;
    background: url(arrow.png) center no-repeat, #d1c989;
    background-size: 12px;
}