.body {
    margin: 0;
    font: 14px/1.2 'Montserrat', sans-serif;
    color: #ebeae4;
    background-color: #511a82;
    min-width: 300px;
}

@keyframes fade-in {
    from {
        margin-top: 15px;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .freddy {
        display: none;
    }

    .birthday-text {
        font-size: 15px;
        padding-bottom: 100px;
        padding-top: 0;
    }

    .header__wrap {
        width: 600px;
    }

    .birthday-text__wrap {
        max-width: 600px;
    }

    .body {
        padding: 0 20px
    }

    .footer__made-in {
        left: -20px;
    }

    .footer {
    padding-bottom: 210px;
    }

    .footer__link_24tt {
        margin-left: 50px;
    }

    .marquee {
        left: -20px;
        right: -20px;
        width: auto;
        font-size: 40px;
    }

    .marquee_music {top: 420px;}

    .marquee_intensive {
        
    }

    .enter-block__content {
        padding: 30px 20px;
    }

    .noting-hear__image-note {
        top: 310px;
        right: 0;
        left: auto;
    }

    .noting-hear__image:before {
        left: 0;
    }

    .cake {
        position: static;
        display: flex;
        margin-top: 25px;
        margin-bottom: 50px;
        padding-left: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        animation: none;
        opacity: 1;
    }

    .cake__row + .cake__row {
        margin-left: 10px;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .icon-word {
        padding-right: 25px;
    }

    .information__wrap {
        flex-direction: column;
        max-width: 600px!important;
    }

    .about-text .information__wrap {
        flex-direction: column-reverse;
    }

    .block-links__link:hover .about-text__link-content, .about-text__link-content:hover {
        margin-left: -30px;
        left: 0;
        width: 360px;
        height: 232px;
        padding-bottom: 10px;
        margin-top: -262px;
    }

    .information__image {
        margin-bottom: -50px;
    }

    .about-text__image {
        top: auto;
    }

    .about-text__image:before {
        left: 40px;
    }

    .noting-hear .information__wrap {
        flex-direction: column-reverse;
    }

    .noting-hear__image:after {
        left: 0;
    }

    .to-do__content {
        padding-left: 0;
    }

    .want-block {
        font-size: 21px;
        padding: 100px 0;
    }

    .want-block__wrap {
        max-width: 600px;
    }
}
