.cake {
    position: fixed;
    left: 20px;
    top: 20px;
    color: #da99af;
    font-weight: bold;
    font-size: 18px;
    padding-left: 55px;
    background: url(cake.png) center left no-repeat;
    background-size: contain;
    z-index: 2;
    animation: cubic-bezier(0.39, 0.58, 0.57, 1) fade-in 0.6s both;
    opacity: 0;
    animation-delay: 1.6s;
}

.cake__row {
}
