.enter-block {display: flex;justify-content: center;color: #111;padding-bottom: 120px;position: relative;z-index: 1;}

.enter-block__content {
width: 980px;
height: 766px;
padding: 100px 80px;
box-sizing: border-box;
background: url(man.png) no-repeat 93% 16px, #da99af;
background-size: contain;
}

.enter-block__header {
font-size: 32px;
line-height: 1.25;
width: 50%;
font-weight: bold;
margin-bottom: 20px;
}

.enter-block__body{
font-size: 22px;
width: 50%;
}