.fire {
}

.fire__item {
    position: absolute;
    display: inline-block;
    margin-top: 0;
    width: 46px;
    height: 46px;
    background: url(fire.png) center left no-repeat;
    background-size: contain;
    opacity: 0;
    animation: cubic-bezier(0.39, 0.58, 0.57, 1) fade-in 0.6s both;
}

.header__fire .fire__item {
    width: 25px;
    height: 30px;
}

.header__fire .fire__item:nth-child(2) {
    left: 30px;
}

.header__fire .fire__item:nth-child(3) {
    left: 60px;
}

.fire__item:nth-child(1) {
    animation-delay: 0.3s;
}

.fire__item:nth-child(2) {
    animation-delay: 0.6s;
    left: 60px;
}

.fire__item:nth-child(3) {
    animation-delay: 0.8s;
    left: 120px;
}
