.footer {
    position: relative;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}

.footer__text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 80px;
    line-height: 1.5em;
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link {
    display: block;
    background: no-repeat center;
    background-size: contain;
}

.footer__link_camp {
    width: 160px;
    height: 130px;
    background-image: url(footer-1.png);
}

.footer__link_24tt {
    width: 150px;
    height: 45px;
    background-image: url(footer-2.png);
    margin-left: 150px;
}

.footer__made-in {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    height: 156px;
    width: 280px;
    background: url(singer-4.png) no-repeat left bottom;
    background-size: 200px;
}

.footer__made-in-text {
    padding: 20px 0;
}

.footer__made-in-smile {
    position: absolute;
    width: 25px;
    height: 25px;
    background: center no-repeat;
    background-size: 100% 100%;
    animation: linear made-in-smile 6s infinite both;
    opacity: 0;
}

.footer__made-in-smile_1 {
    background-image: url(smile-1.png);
    top: -65px;
    right: -15px;
}

.footer__made-in-smile_2 {
    background-image: url(smile-2.png);
    top: -30px;
    right: 40px;
    animation-delay: 4s;
}

.footer__made-in-smile_3 {
    background-image: url(smile-3.png);
    top: -70px;
    right: 40px;
    animation-delay: 7s;
}

@keyframes made-in-smile {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    70% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
    }
}
