.freddy {
    display: flex;
    justify-content: center;
    height: 840px;
    background: rgb(235, 234, 228);
}

.freddy__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    max-width: 950px;
}

.freddy__man {
    width: 400px;
    height: 100%;
    background: url(freddy.png) center bottom no-repeat;
    background-size: 100% auto;
    position: relative;
    z-index: 1;
}

.freddy__fire {
    position: absolute;
    top: 295px;
    left: 0;
    z-index: 1;
}

.freddy__note {
    position: absolute;
    height: 80px;
    width: 80px;
    background: url(note.png) center center no-repeat;
    background-size: contain;
    z-index: 1;
    animation: cubic-bezier(0.39, 0.58, 0.57, 1) fade-in 0.6s both;
    opacity: 0;
}

.freddy__note_1 {
    left: -190px;
    top: 590px;
    transform: rotate(20deg);
    animation-delay: 0.9s;
}

.freddy__note_2 {
    right: -200px;
    top: 690px;
    transform: rotate(-20deg);
    animation-delay: 1.2s;
}
