.header {
    display: none;
    font-size: 27px;
    font-weight: bold;
    padding-bottom: 30px;
}

.header__wrap {

}

.header__fire {
    position: absolute;
    left: 107%;
}

.header__fire-word {
    position: relative;
}