.icon-word {
    background: no-repeat right center;
    background-size: auto 100%;
    padding-right: 80px;
}

.icon-word_bottle {
background-image: url(bottle.png);
}

.icon-word_trumpet {
background-image: url(trumpet.png);
}