.information {
    display: flex;
    justify-content: center;
    padding: 70px 10px 0;
    position: relative;
    z-index: 1;
}

.information__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-grow: 1;
    max-width: 950px;
}

.information__image {
    position: relative;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.information__content {
    flex: 1;
    z-index: 1;
}
