.marquee {
    position: fixed;
    color: #000;
    width: 100%;
    font-size: 138px;
    font-weight: bold;
    z-index: 0;
}

.marquee_intensive {
    top: 470px;
}

.marquee_music {
    top: 320px;
}