.noting-hear {
    align-items: flex-end;
}

.noting-hear.information {
    padding-top: 0;
}

.noting-hear__image {
    background-image: url(singer-3.png);
    height: 420px;
    background-size: contain;
}

.noting-hear__image:before {
    content: '';
    position: absolute;
    left: 80px;
    top: 130px;
    width: 130px;
    height: 130px;
    background: url(star.png) no-repeat center;
    background-size: contain;
}

.noting-hear__image:after {
    content: '';
    position: absolute;
    left: -80px;
    top: -10px;
    width: 80px;
    height: 80px;
    background: url(note-2.png) no-repeat center;
    background-size: contain;
}

.noting-hear__image-note {
    position: absolute;
    left: 410px;
    top: 380px;
    width: 55px;
    height: 66px;
    transform: rotate(15deg);
    background: url(note-3.png) no-repeat center;
    background-size: contain;
}

.noting-hear__header {
}
