
.clearfix:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.desktop-v {
	
}
.mobile-v {
	display: none;
}
.app {
	font-family: 'Roboto';
	max-width: 980px;
	width: 90%;
	margin: 0 auto;
	background: #DA99AF;
	position: relative;
	z-index: 2;
	margin-bottom: 50px;
	/*height: 707px;*/
}
.app * {
	color: #000;
}
.app .error-section,
.app .result-section,
.app .login-section {
	min-height: 670px;
	position: relative;
}
.app .section-inner {
	padding: 40px 80px 0;
}
.app .title {
	font-size: 30px;
	font-weight: bold;
}
.app .login-section .title {
	font-size: 32px;
	line-height: 1.25;
	max-width: 470px;
	margin-top: 60px;
	width: 50%;
}
.app .login-section .text {
	font-size: 22px;
	line-height: 1.25;
	max-width: 470px;
	width: 50%;
	margin-top: 20px;
}
.app .login-section .first {
	position: absolute;
	width: 29%;
	max-width: 270px;
	bottom: 0;
	right: 5%;
}
.app .result-section .first {
	position: absolute;
	width: 34%;
	/*max-width: 247px;*/
	bottom: 0;
	right: 5%;
	
}
.app .status {
	font-size: 24px;
	color: #333;
	text-align: center;
	margin: 20px 0;
	height: 1em;
	line-height: 1em;
}
.app .button-wrap {
	margin: 10px 0;
	/*text-align: center;*/
}
.app #fb-login {
	display: inline-block;
	margin-top: 60px;
	background: #3E57A8;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	text-decoration: none;
	color: #FFF;
	padding: 13px 24px;
	font-size: 16px;
	vertical-align: middle;
}
.app #fb-login img {
	width: 11.4px;
	display: inline-block;
	margin-right: 22px;
	vertical-align: middle;
}
.app #start {
	background: #F00;
}
.app .error-section,
.app .result-section,
.app .user-section,
.app .game-section {
	display: none;
}
.app .game-section {
	position: relative;
}
.app .answers {
	text-align: center;
}
.app #clock {
	width: 50px;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin: auto;
	float: right;
	display: inline-block;
	color: #C67691;
}
.app .question-number {
	font-size: 32px;
	font-weight: bold;
	color: #ebeae4;
	line-height: 1.25;
	float: left;
	display: inline-block;
}
.app .question {
	margin-top: 20px;
	font-weight: bold;
}
.app .question-text {
	font-size: 32px;
	line-height: 1.25;
	height: 5em;
}
.app .play-button {
	margin-top: 30px;
	margin-bottom: 20px;
}
.app #play,
.app #pause {
	width: 66px;
	height: 66px;
	cursor: pointer;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: #511A82;
	vertical-align: middle;
	text-align: center;
	position: relative;
}
.app #play img,
.app #pause img {
	max-width: 16px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.app #play {
	display: none;
}
.app .timeline {
	width: 100%;
	height: 5px;
	margin-bottom: 20px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	background: #cc829b;
	position: relative;
	overflow: hidden;
}
.app .played {
	content: "";
	height: 4px;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	background: #511a82;
}
.app .answers:after {
	content: "";
	display: block;
	clear: both;
}
.app .variant {
	display: block;
	padding: 30px 80px;
	text-align: left;
	border-top: 1px solid #511a82;
	color: #000;
	background: #EBEAE4;
	font-size: 18px;
	text-decoration: none;
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	    -ms-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
}
.app .variant:hover {
	background: #FFF;
}
.app .variant:last-child {
	border-bottom: 1px solid #511a82;
}
.app .true {
	background: #8dc75b !important;
}
.app .false {
	background: #e16231 !important;
}
.app .error-img {
	position: absolute;
	right: -5%;
	top: -5%;
	width: 43%;
}
.app .error-section .title,
.app .result-section .title {
	font-size: 140px;
	color: #EBEAE4;
	font-weight: bold;
	margin-bottom: 30px;
}
.app .error-section .text,
.app .result-section .text {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.25;
	max-width: 444px;
}
.app .fb-share,
.app .ya-share2__item_service_facebook {
	background: #3B5998;
}
.app .vk-share,
.app .ya-share2__item_service_vkontakte {
	background: #48729E;
}
.app .twitter-share,
.app .ya-share2__item_service_twitter {
	background: #00ACED;
}
.app .share-block a,
.app .ya-share2__container_size_m .ya-share2__badge + .ya-share2__title {
	color: #FFF;
	font-size: 14px;
}
.app .share-block a,
.app .ya-share2__item {
    padding: 14px 20px !important;
    border-radius: 6px;
    margin-right: 20px !important;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.app .ya-share2__item:last-child {
	margin-right: 0 !important;
}

.app .share-block-wrap {
	position: absolute;
	bottom: 70px;
	z-index: 1;
}
.app .share-text {
	color: #FFF;
	font-size: 22px;
	margin-bottom: 15px;
}
.app .share-block a.fb-share img {
	width: 7px;
}
.app .share-block a img {
	width: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.app .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 3;
	background: #DA99AF url(../img/go.png) no-repeat 80% 100%;
}
.app .popup {
	padding: 40px;
	/*background: #DA99AF;*/
	z-index: 4;
	position: absolute;
	top: 30%;
	left: 50%;
	width: 280px;
	height: 200px;
	text-align: center;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.app .warning {
	position: absolute;
	bottom: 45px;
	left: 45px;
	width: 277px;
	text-align: left;
}
.app .warning:after {
	content: "";
	display: block;
	clear: both;
}
.app .warn-img {
	float: left;
	width: 32px;
	padding-top: 5px;
	padding-right: 5px;
}
.app .warn-text {
	float: left;
	width: 240px;
	color: #000;
	font-size: 18px;
	line-height: 1.33;
}
.app .popup .text {
	font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: #000000;
}
.app .popup .button {
	color: #fff;
	background: #511a82;
	font-size: 32px;
	padding: 15px 30px;
	margin-top: 30px;
	text-decoration: none;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	display: inline-block;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
@media(max-width:991px) {
	.app .login-section .title {
		font-size: 20px;
	}
	.app .login-section .text {
		font-size: 18px;
	}
	.app .question-text,
	.app .question-number {
		font-size: 18px;
	}
	.app .variant {
		padding: 20px 50px;
		font-size: 18px;
	}
	.app .result-section .title {
		font-size: 100px;
	}
	.app .result-section .text {
		font-size: 20px;
	}
}
@media(max-width:767px) {
	.app .desktop-v {
		display: none !important;
	}
	.app .mobile-v {
		display: block;
	}
	.app .app {
		margin: 0 auto;
	}
	.app .section-inner {
		padding: 30px 20px 0;
	}
	.app .login-section .first {
		position: relative;
		right: auto;
		width: 60%;
		margin: auto;
		display: block;
		margin-top: 60px;
	}
	.app .login-section .title {
		font-size: 16px;
		max-width: 100%;
		margin-top: 0;
		width: 100%;
	}
	.app .login-section .text {
		font-size: 14px;
		max-width: 100%;
		margin-top: 10px;
		width: 100%;
	}
	.app #fb-login{
		font-size: 14px;
		margin-top: 30px;
	}
	.app .error-section,
	.app .result-section {
		height: auto;
		min-height: auto;
	}
	.app .login-section {
		min-height: auto;
		overflow: hidden;
	}
	.app .question-text,
	.app .question-number {
		font-size: 16px;
	}
	.app .question-text {
		height: 7.5em;
	}
	.app .variant {
		padding: 20px;
		text-align: left;
		font-size: 14px;
	}
	.app #pause,
	.app #play {
		margin: auto;
	}
	.app .play-button {
		margin-top: 20px;
	}
	.app .timeline {
		margin-bottom: 20px;
	}
	.app .error-section .title,
	.app .result-section .title {
		font-size: 82px;
	}
	.app .error-section .text,
	.app .result-section .text {
		font-size: 16px;
	}
	.app .result-section .first {
		margin-top: 20px;
		position: relative;
		width: 70%;
		max-width: 100%;
		/*bottom: -45vw;*/
		float: right;
		margin-right: 10vw;
	}
	.app .share-block a,
	.app .ya-share2__item {
		display: block !important;
		padding: 10px 15px !important;
		max-width: 140px;
		margin-bottom: 10px;
	}
	.app .share-block-wrap {
		bottom: 30px;
		margin-top: 3vw;
	}
	.app .share-text {
		font-size: 16px;
		width: 160px;
	}
	.app .error-img {
		position: relative;
		right: auto;
		top: auto;
		width: 60%;
		margin: 50px auto 0;
		padding-bottom: 30px;
		display: block;
	}
	.app .variant:hover {
		background: #EBEAE4;
	}
	.app .overlay {
		background: #DA99AF url(../img/go_mob.png) no-repeat 0% 80%;
	}
	.app .popup {
		top: 20%;
	}
	.app .warning {
		left: auto;
		right: 0;
		bottom: 100px;
		width: 140px;
	}

	.app .warn-text {
		font-size: 14px;
		width: 150px;
	}
}