.to-do {
}

.to-do__header {
}

.to-do__image {
    height: 460px;
    background-image: url(singer-2.png);
    background-size: contain;
}

.to-do__image:before {
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    left: 60px;
    top: 40px;
    background: url(keys.png) no-repeat center;
    background-size: contain;
}

.to-do__content {
    padding-left: 100px;
}